html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	box-sizing: border-box;
}

div.mainmenu{
	float: left;
	position: fixed;
	z-index: 150;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	text-shadow: 2px 2px 5px #212121;
}

div.mainmenu a{
	display: inline-block;
	margin-top: 10px;
	font-size: 35px;
	vertical-align: top;
}

div.mainmenu a i{
	color: #ed7f7f;
	vertical-align: top;
	margin-top: 9px;
	margin-left: 20px;
}

#menuList{
    list-style: none;
    margin:0 0 0 0;
    padding: 0 0 0;
}

div.menu2 {
    display: inline-block;
    margin-top: 18px;
    margin-left: 20px;
}

#menuList li{
	display: inline-block;
}

#menuList li a{
	margin-top: 0px;
	font-family: Helvetica, Open Sans, sans serif;
	font-size: 1.2em;
	font-weight: normal;
	text-shadow: 2px 2px 5px #212121;
	color: #ed7f7f;
    border: none;
    padding: 10px 10px;
}

#menuList li a:hover{
    color: white;
    transition: color 0.5s;
}

@media screen and (max-width: 600px) {
	#menuList {
	flex-direction:column;
	}
}

div.homepage-hero-module h1{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-family: 'Lobster', cursive;
	font-size: 400%;
	text-shadow: 5px 5px #000;
	letter-spacing: 5px;
	text-align: center;
}

div.homepage-hero-module h2{
	position: absolute;
	top: 75%;
	left: 60%;
	color: #fff;
	font-family: 'Lobster', cursive;
	font-size: 100%;
	text-shadow: 2px 2px #000;
	letter-spacing: 2px;
	text-align: right;
}


/*slider*/
.cycle-slideshow {	
	width: 100vw;
	height: 100vh;	
}

.slide-img{
	height: 100%;
	width: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#slide1{
	background-image: url("1.jpeg");
}

#slide2{
	background-image: url("2.jpg");
}

#slide3{
	background-image: url("3.jpg");
}

#slide4{
	background-image: url("3.jpg");
}

.slide-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'Lobster', cursive;
    font-size: 400%;
    text-shadow: 5px 5px #000;
    letter-spacing: 5px;
    text-align: center;
}

.clearfix:after{
    content: "";
    clear: both;
    display: table;
    margin: 0;
}

div.contact{
    padding: 0;
    margin: 0;
    background-image: url(img/contact.jpeg);
}


div.imgcontact {
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12,
    Color='#444')";
    filter: url(#drop-shadow);
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
    filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
}

div.contact .dane{
    background-color: rgba(255, 245, 235, 0.8);
    font-family: Verdana, sans-serif;
    font-size: 14px;
    color: black;
    border-radius: 7px;
    padding: 20px;
    display: inline-block;
}

div.dane td {
    padding-bottom: 10px;
    font-family: Lobster, sans-serif;
    font-size: 15px;
}

div.dane i{
    color: #ed7f7f;
}

#formularz {
    float: left;
    border: 3px solid #ed7f7f;
    border-radius: 10px;
    padding: 15px;
    display: inline-block;
    margin-bottom:5px;
    font-family: Lobster, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    color: #555555;
}

#formularz p{
    margin-bottom: 15px;
    font-size: 16px;
}

#formularz input {
    padding: 10px;
    border-radius: 5px;
    border:1px solid #ccc;
    margin-bottom: 5px;
    width: 100%;
    background-color: #fff5eb;
}

#formularz textarea {
    background-color: #fff5eb;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    width: 100%;
    height: 150px;
    resize: none;
}

#formularz input.send {
    font-family: Lobster, sans-serif;
    font-size: 18px;
    font-weight: bold;
    background-color: #ed7f7f;
    width: 100%;
    height: 50px;
}

div.mapa {
    padding: 0;
}

div.mapa iframe {
    width: 100%;
    height: 300px;
    padding: 0;
}

footer {
    font-family: Lobster, sans-serif;
    text-align: center;
    font-size: 14px;
    color: grey;
    height: 40px;
    padding: 10px;
    width: 100%;
    background-color: #fff5eb;
    border-color: #fff5eb;
    border-radius: 10px;
}

div.find {
    margin-top: 30px;
    font-family: Lobster, sans-serif;
    text-align: center;
    font-size: 30px;
    height: 200px;
}

div.find p {
    background-color: #fff5eb;
    border-radius: 5px;
    margin-bottom: 20px;
}

div.icons .fa {
    margin-left: 10px;
    padding: 10px 15px 10px 15px;
}

div.icons {
    margin-bottom: 10px;
}

div.icons a {
    text-decoration: none;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.fa-facebook {
    color: #3b5998;
}

.fa-twitter {
    color: #55acee;
}

.fa-youtube {
    color: #cd201f;
}

.fa-dribbble {
    color: #ea4c89;
}

.fa-instagram {
    color: #3f729b;
}

.fa-google-plus {
    color: #dc4e41;
}

/*ROUNDEDICONS + ANIMATIONS*/
.rounded-icons .fa {
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 10%;
}
.rounded-icons .fa-facebook {
    background-color: #3b5998;
}
.rounded-icons .fa-facebook:hover {
    background-color: #fff;
    color: #3b5998;
}
.rounded-icons .fa-instagram {
    background-color: #3f729b;
}
.rounded-icons .fa-instagram:hover {
    background-color: #fff;
    color: #3f729b;
}
.rounded-icons .fa-twitter {
    background-color: #55acee;
}
.rounded-icons .fa-twitter:hover {
    background-color: #fff;
    color: #55acee;
}
.rounded-icons .fa-youtube {
    background-color: #cd201f;
}
.rounded-icons .fa-youtube:hover {
    background-color: #fff;
    color: #cd201f;
}
.rounded-icons .fa-google-plus {
    background-color: #dc4e41;
}
.rounded-icons .fa-google-plus:hover {
    background-color: #fff;
    color: #dc4e41;
}
.rounded-icons .fa-dribbble {
    background-color: #ea4c89;
}
.rounded-icons .fa-dribbble:hover {
    background-color: #fff;
    color: #ea4c89;
}

.col-md-3 h1
{
  text-transform:uppercase;
}
.col-md-3 h1:hover
{
  text-transform:uppercase;
  cursor:pointer;
  animation: rubberBand 1s;
}
.col-md-3 h4
{
  text-transform:uppercase;
}
.col-md-3
{
  text-align:center;
  font-family: 'Lobster', bold;
  
}
.col-md-3 hr
{
  color: black;
  background-color: black;
  height:1px;
}
.about-us
{
  background-color:#FF2121;
  padding-bottom:50px;
  color:white;
}
@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

div.mainmenu{
	position: absolute;
	z-index: 50;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	text-shadow: 2px 2px 5px #212121;
}

div.mainmenu a{
	display: inline-block;
	margin-top: 10px;
	font-size: 35px;
	vertical-align: top;
}

div.mainmenu a i{
	color: #ed7f7f;
	vertical-align: top;
	margin-top: 9px;
	margin-left: 20px;
}
/*filmik*/
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}
/*koniec filmika*/


#menuList li a:hover{
    color: white;
    transition: color 0.5s;
}

